@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    --font-size: 18px;
    --normal: 400;
    --bold: 500;
    --font-family: "DM Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    color: var(--black);
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

body,
input,
button {
    font-size: var(--font-size);
    font-family: var(--font-family);
}

button {
    cursor: pointer;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
}

.border-radius {
    border-radius: 0.75rem
}

.container {
    width: 90%;
    margin: 1rem auto;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas: 'rating_card''social_card''schedule_card''schedule_social_card''grow_followers_card''audience_growth_card''create_post_card''ai_content_card';
    gap: 2rem;
}

.rating_card {
    background: var(--purple-500);
    text-align: center;
}

.rating_card_content {
    min-width: 70%;
    max-width: 30rem;
    margin: 2rem auto;
}

.rating_card_content h2 {
    color: var(--white);
    min-width: 70%;
    max-width: 26rem;
    font-size: 2.5rem;
    font-family: var(--font-family);
    margin-bottom: 1rem;
    margin-inline: auto;
}

.rating_card_content p {
    color: var(--white);
    font-family: var(--font-family);
}

.rating_card_content .yellow {
    color: var(--yellow-500);
}

.rating_card_content .italic {
    font-style: italic;
}

.rating_card img {
    width: 60%;
    max-width: 20rem;
}

.social_card {
    background: var(--white);
}

.social_card_content {
    min-width: 90%;
    max-width: 30rem;
    margin: 0.5rem auto;
}

.social_card img {
    background: var(--white);
    margin: 0.3rem auto;
}

.social_card h3 {
    font-size: 1.8rem;
    font-family: var(--font-family);
    font-weight: var(--bold);
    margin: 0.5rem auto;
    color: var(--black);
}

.schedule_card {
    background: var(--yellow-500);
}

.schedule_card_content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0.7rem;
    padding-top: 1rem;
    gap: 0.7rem;
}

.schedule_card img {
    width: 100%;
    max-width: 20rem;
    display: block;
}

.schedule_card h3 {
    font-family: var(--font-family);
    font-weight: var(--bold);
    color: var(--black);
    margin-inline: auto;
}

.schedule_social_card {
    background: var(--purple-100);
}

.schedule_social_card_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
    gap: 0.75rem;
    width: 90%;
}

.schedule_social_card h3 {
    font-size: 1.8rem;
    color: var(--black);
    font-family: var(--font-family);
    font-weight: var(--bold);
}

.schedule_social_card h4 {
    font-size: 1.4rem;
    color: var(--black);
    font-family: var(--font-family);
    font-weight: var(--bold);
    text-align: center;
}

.grow_followers_card {
    background: var(--purple-500);
}

.grow_followers_card_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 70%;
    gap: 1.5rem;
}

.grow_followers_card h3 {
    color: var(--white);
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: var(--bold);
}

.audience_growth_card {
    background: var(--white);
}

.audience_growth_card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    font-family: var(--font-family);
    color: var(--black);
    margin: 1rem;
    width: 70%;
}

.audience_growth_card h2 {
    font-size: 2.5rem;
    font-family: var(--font-family);
    font-weight: 700;
}

.audience_growth_card p {
    font-weight: var(--bold);
}

.create_post_card {
    background: var(--yellow-100);
}

.create_post_card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    font-family: var(--font-family);
    width: 80%;
    margin: 1.5rem auto;
}

.create_post_card h3 {
    font-size: 1.9rem;
    margin-inline: auto;
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--black);
}

.create_post_card h3 span {
    color: var(--purple-500);
    font-style: italic;
}

.create_post_card img {
    width: 80%;
    max-width: 20rem;
}

.ai_content_card {
    background: var(--yellow-500);
}

.ai_content_card_content {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    font-family: var(--font-family);
    width: 90%;
    margin: 1rem auto;
}

.ai_content_card h3 {
    font-size: 2.5rem;
    margin: 0.75rem auto;
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--black);
}

.ai_content_card img {
    width: 80%;
    max-width: 20rem;
}

.container:nth-child(1) {
    grid-area: rating_card;
}

.container:nth-child(2) {
    grid-area: social_card;
}

.container:nth-child(3) {
    grid-area: schedule_card;
}

.container:nth-child(4) {
    grid-area: schedule_social_card;
}

.container:nth-child(5) {
    grid-area: grow_followers_card;
}

.container:nth-child(6) {
    grid-area: audience_growth_card;
}

.container:nth-child(7) {
    grid-area: create_post_card;
}

.container:nth-child(8) {
    grid-area: ai_content_card;
}

@media screen and (min-width:30rem) {
    .container {
        grid-template-areas: "create_post_card rating_card rating_card schedule_social_card""create_post_card social_card schedule_card schedule_social_card""ai_content_card audience_growth_card grow_followers_card grow_followers_card";
        gap: 3rem;
    }
    .rating_card {
        grid-area: rating_card;
    }
    .schedule_card {
        grid-area: schedule_card;
    }
    .schedule_social_card {
        grid-area: schedule_social_card;
    }
    .create_post_card {
        grid-area: create_post_card;
    }
    .ai_content_card {
        grid-area: ai_content_card;
    }
    .grow_followers_card {
        grid-area: grow_followers_card;
    }
    .social_card {
        grid-area: social_card;
    }
    .audience_growth_card {
        grid-area: audience_growth_card;
    }
}